//S: main-wrap
.main-wrap{
    background:$G-black-1;
    

    .list-wrap .list-label{
        font-size:$G-font-size-md;
    }
    .list-wrap {
        font-size:$G-font-size;
    }
}
//S: intro
.intro{
    .intro-text-wrap{
        padding-bottom:16px;
        font-family: $G-font-R;
        font-size:$G-font-size-lg;
        color:$G-font-color;
    }
    
    .bubble{
        margin-bottom:12px;
        padding:$G-box-padding;
        border-radius: $G-border-radius;
        word-break: keep-all;
        
        &-yellow{
            background:#FBC833;
            color:$G-black-1;
        }
    
        &-orange{
            background:$G-main-color;
        }
    }
}
//E: intro
//S: point-3-info
.point-3-info{
    word-break: keep-all;

    .row:first-child{
        margin-bottom:32px;
        min-width:0;
    }
    .col{
        flex: 0 0 33.3%;
        width:33.3%;
    }
    .intro-banner{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        min-height:140px;
        padding: 20px;
        background:url(#{$G-path-img}/bg_intro_banner.png) no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        
        .visual-txt{
            margin-bottom:0;
            color:$G-black-1;
            text-align: center;
        }
        .implement-txt{
            background:$G-black-1;
            color:$G-white;
        }
    }
    
    .point-3{
        .card{
            display:flex;
            align-items: center;
            align-content: center;
            height:100%;
            background:$G-main-color;
            color: $G-white;
            letter-spacing: -0.05em;
            text-align: center;
            font-size:16px;
        }
        .card-body{
            padding:8px;
        }
        .icon-wrap{
            padding-top:8px;
        }
        .icon-wrap img{
            width:48px;
            max-width:100%;
        }
        .point-txt{
            padding:10px 10px 0;
            font-size:$G-font-size-md;
            font-family: $G-font-R;
        }
    }
}
//E: point-3-info
//S: ex-review
.ex-review{
    .review-card-wrap{
        .card{
            margin-bottom: 16px;
        }
        .card:last-child{
            margin-bottom:0;
        }
        .list-wrap{
            padding:0;
        }
        .list-wrap .list-item{
            padding:0;
        }
        .list-label{
            width:180px;
            font-size:$G-font-size-md;
            font-family: $G-font-R;
            color:$G-black-2;
        }        
        .card-subtext{
            margin-top:6px;
            font-size:$G-font-size-md;
            font-family: $G-font-R;
            color:$G-black-2;
        }
    }
}

//E: ex-review
//S: mentos
.mentos{
    .visual-txt{
        text-align: center;
    }
    .card{ 
        .card-body{
            padding:20px;
        }
        .list-label{
            font-family: $G-font-R;
            opacity: 0.8;
        }

        .list-content{
            @include multi-ellipsis(5);
        }
    }
    
}
//E: mentos
//S: last-appeal
.last-appeal{
    background:$G-black;

    .visual-txt.visual-txt-sm{
        margin-bottom:0;
    }
}
//E: last-appeal
//S: team-section
.team-section{
    background: #F4F7FA;
    color:$G-black-2;

    .visual-txt{
        margin-bottom:24px;
    }
}
//E: team-section
//E: main-wrap