.card-wrap{
    .card{
        margin-bottom:20px;
    }
    .card:last-child{
        margin-bottom:0;
    }
}
.card{
    overflow: hidden;
    border-radius: $G-border-radius;
    color:$G-black-1;

    .card-body{
        padding:$G-box-padding;   
    }

    .card-body .card-title{
        margin-bottom:0;
        font-family: $G-font-R;
    }
    
    .card-img-top-area{
        position: relative;
        height:280px;
        overflow: hidden;
        background:#D9D9D9;
    }
    .card-img-top-area img{
        position: absolute;
        top:50%;
        width:100%;
        min-height:100%;
        object-fit: cover;
        transform: translateY(-50%);
    }
    

    .card-title{
        font-family: $G-font-B;
        font-size:$G-font-size-lg;
    }
    .card-sub-title{
        margin-left:10px;
        font-family: $G-font-R;
        font-size: $G-font-size-md;
    }

    .btns-wrap{
        margin-top:40px;
    }
}

.card.card-separater{
    .card-title{
        font-size:$G-font-size;
        font-family: $G-font-M;
    }
    .card-body{
        padding:10px;
    }
    .card-top{
        padding-bottom:10px;
        border-bottom:1px solid $G-black-2;
    }
    .card-bottom{
        padding-top:10px;
    }
}
.table-act{
    tr td{
        padding: 8px;
    }
    tr td:first-child{
        padding-left:0;
    }
    tr td:last-child{
        padding-right:0;
    }
}
.dark-card{
    background: $G-black-2;
    color:$G-white-1;

    .list-label{
        color:$G-white-1;
    }
}