.page-center-txt{
    padding-top:$G-section-padding*2;
    padding-bottom:$G-section-padding*2;
    text-align: center;
}



.visual-txt{
    margin-bottom:64px;
    font-family: $G-font-B;
    font-size:$G-font-size-xl;
    
    .implement-txt{
        color:$G-main-color;
    }

    &.visual-txt-sm{
        margin-bottom:20px;
        font-size:$G-font-size-lg;
    }
}