<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kookmin.kookmin.mapper.client.MentoMapper">
  <select id="findUserByMentoId" resultType="UserDto">
    select user.* from user, mento
    where mento.user_id = user.user_id and
    mento_id = #{mentoId}
  </select>
  <select id="findByMentoId" resultType="MentoDto">
    select * from mento where mento_id =#{mentoId}
  </select>
  <select id="findActByMentoId" resultType="ActDto">
    select * from act where mento_id =#{mentoId}
    order by campus_year desc
  </select>
  <select id="findMentoBig3" resultType="MentoDto">
    SELECT m.*
    FROM mento m
    LEFT JOIN (
    SELECT r.mento_id, COUNT(*) AS count_reservations
    FROM reservation r
    GROUP BY r.mento_id
    ) r ON m.mento_id = r.mento_id
    ORDER BY COALESCE(r.count_reservations, 0) DESC
    LIMIT 3
  </select>
</mapper>