<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kookmin.kookmin.mapper.client.ReservationMapper">
  <select id="findByEmail" resultType="ReservationDto">
    select * from reservation r, user u
    where r.user_id = u.user_id and
    email = #{email}
    order by reservation_date
  </select>
  <select id="findById" resultType="ReservationDto">
    select * from reservation
    where reservation_id = #{reservationId}
  </select>
  <select id="findByMentoId" resultType="ReservationDto">
    select * from reservation
    where mento_id=#{mentoId}
  </select>
  <insert id="newReservation" parameterType="ReservationDto">
    insert into reservation(ask_type, ask_content, desired_date1, desired_date2, reservation_date, reservation_status, position, user_id, mento_id, plan_title)
    values(#{askType}, #{askContent}, #{desiredDate1} , #{desiredDate2}, #{reservationDate}, #{reservationStatus}, #{position}, #{userId}, #{mentoId}, #{planTitle})
  </insert>
  <update id="refund" parameterType="ReservationDto">
    update reservation set
    reservation_status = 4,
    refund_time = now(),
    refund_bank_name = #{refundBankName},
    refund_bank_num = #{refundBankNum}
    where reservation_id = #{reservationId}
  </update>
  <update id="review" parameterType="ReservationDto">
    update reservation set
    review_score=#{reviewScore},
    review_date=now(),
    review_content=#{reviewContent}
    where reservation_id = #{reservationId}
  </update>
</mapper>