<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kookmin.kookmin.mapper.client.UserMapper">
  <select id="findAll" resultType="UserDto">
    select * from user
  </select>
  <select id="findByEmail" resultType="UserDto">
    select * from user where email=#{email}
  </select>
  <select id="findPwdByEmail" resultType="String">
    select pwd from user where email=#{email}
  </select>
  <select id="findByUserId" resultType="UserDto">
    select * from user where user_id=#{user_id}
  </select>
  <insert id="insert" parameterType="UserDto">
    INSERT INTO user VALUES(#{user_id}, #{email}, #{pwd}, #{nickname}, #{department}, #{student_number}, #{grade}, #{birth_year}, #{current_status}, #{phone})
  </insert>
  <insert id="insertBySignupInfo" parameterType="SignupDto">
    INSERT INTO user(email, pwd, nickname) VALUES(#{email}, #{pwd}, #{nickname})
  </insert>
  <update id="changePwdByEmail" parameterType="ChangePwdDto">
    update user set
    pwd = #{pwd}
    where email = #{email}
  </update>
  <update id="update" parameterType="UserDto">
    update user set
    department = #{department},
    student_number = #{studentNumber},
    grade = #{grade},
    phone = #{phone},
    birth_year = #{birthYear},
    current_status = #{currentStatus}
    where email = #{email}
  </update>
  <select id="findByMentoUserInfoReservation" resultType="UserDto">
    select mu.* from reservation r, mento m, user mu
    where r.mento_id = m.mento_id and
    m.user_id = mu.user_id and
    reservation_id = #{reservationId}
  </select>
  <update id="updateBaseInfo" parameterType="UserDto">
    update user set
    department = #{department},
    phone = #{phone}
    where email = #{email}
  </update>
</mapper>