/* Page 기본*/
*,*:after,*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}

body {
    background: $G-bg-contents;
    color: $G-font-color;
    font-size: $G-font-size;
    font-family: $G-font-R, 'Noto Sans KR', '본고딕', 'Apple SD Gothic Neo', 'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
}
p{
    line-height:1.5;
}