<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="icon" href="/images/favicon.ico">
    <script src="/js/lib/jquery-3.5.1.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <title>멘토 정보</title>
</head>
<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!--S: mento-info-->
    <div class="mento-info">
        <!--S: mento-profile-->
        <div class="mento-profile">
            <img src="/images/upload/upload02.jpg" alt="">
        </div>
        <!--E: mento-profile-->
        <!--S: mento-info-summary-->
        <div class="content-area mento-info-summary">
            <div class="container-fluid">
                <p class="visual-txt">"<span th:text="${mento.introduceTitle}"></span>"</p>
                <!--S : summary-area -->
                <div class="summary-area">
                    <div class="summary-top">
                        <div class="summary-title">
                            <span class="mento-name" th:text="${mentoU.nickname}"></span>
                            <span class="mento-grade"><span th:text="${mentoU.grade}"></span>학년</span>
                        </div>
                        <div class="list-wrap list-specialty">
                            <div class="list-item">
                                <div class="list-label">주전공</div>
                                <div class="list-content" th:text="${mento.primaryMajor}"></div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">부전공</div>
                                <div class="list-content" th:text="${mento.subMajor}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="summary-bottom">
                        <div class="verticals-list">
                            <div class="list-item">
                                <p class="big-value" th:text="${mentoInfoNums.count}"></p>
                                <p class="info-label">누적 멘토링 횟수</p>
                            </div>
                            <div class="list-item">
                                <p class="big-value"><span th:text="${mentoInfoNums.satisfaction}"></span>%</p>
                                <p class="info-label">멘토링 만족도</p>
                            </div>
                            <div class="list-item">
                                <p class="big-value" th:text="${mentoInfoNums.moneyAvg}"></p>
                                <p class="info-label">평균 멘토링 금액</p>
                            </div>
                        </div>
                        <div class="btns-wrap bottom-btns-wrap">
                            <a th:href="@{/reservation/1(mentoId=${mento.mentoId})}" class="btn btn-primary">멘토링 예약하기</a>
                        </div>
                    </div>
                </div>
                <!--E : summary-area -->
                
            </div>
        </div>
        <!--E: mento-info-summary-->
        <!--S : mento-message -->
        <div class="content-area mento-message">
            <div class="container-fluid">
                <p class="message" th:text="${mento.introduceContent}"></p>
                <!--S: card-->
                <div class="card-wrap">
                    <div class="card card-separater">
                        <div class="card-body">
                            <div class="card-top">
                                <div class="card-label-wrap">
                                    <span class="card-label">교외활동</span>
                                    <p class="card-title">세상 밖에서 걸어온 길을 소개합니다.</p>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <table class="table table-borderless table-act">
                                    <tr th:each="a:${mentoActCampus.get(false)}">
                                        <td th:text="${a.campusYear}"></td>
                                        <td th:text="${a.title}"></td>
                                        <td th:text="${a.content}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--E: card-->
                    <!--S: card-->
                    <div class="card card-separater">
                        <div class="card-body">
                            <div class="card-top">
                                <div class="card-label-wrap">
                                    <span class="card-label">교내활동</span>
                                    <p class="card-title">학교 안에서 걸어온 길을 소개합니다.</p>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <table class="table table-borderless table-act">
                                    <tr th:each="a:${mentoActCampus.get(true)}">
                                        <td th:text="${a.campusYear}"></td>
                                        <td th:text="${a.title}"></td>
                                        <td th:text="${a.content}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--E: card-->
                </div>
            </div>
        </div>
        <!--E : mento-message -->
    </div>
    <!--E: mento-info-->
    <!--S: footer-->
    <footer class="footer">
        <div class="container-fluid">
            @Copyright
        </div>
    </footer>
    <!--E: footer-->
</body>

</html>