<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.min.css" type="text/css">
    <link rel="icon" href="images/favicon.ico">
    <script src="js/lib/jquery-3.5.1.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <title>멘토링 예약 완료</title>
</head>

<body>
    <!--S: header-->
    <header class="header">
        <div class="container-fluid">
            <div class="row row-v-center">
                <div class="col-auto">
                    <h1 class="logo-wrap">
                        <a class="logo" href="index.html">
                            <img src="images/logo_white.svg" alt="COWEEF">
                        </a>
                    </h1>
                </div>
                <div class="col">
                    <nav>
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="#">로그인</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">마이페이지</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--E: header-->
    <!--S: step-ok-->
    <div class="subpage-wrap step-ok-wrap">
        <div class="container-fluid">
            <div class="btns-wrap">
                <a href="#" class="btn btn-link btn-inline"><i class="bi bi-chevron-left"></i><span>이전으로</span></a>
            </div>
            <p class="visual-txt visual-txt-sm">
                성공적으로 멘토링을 예약했습니다!<br>
                1-2일 내에 다시 연락 드리겠습니다.
            </p>
            <!-- S: 멘토링 신청 현황 -->
            <div class="content-area current-status">
                <p class="page-sub-title">멘토링 신청 현황</p>
                <div class="card">
                    <div class="card-body">
                        <div class="list-wrap">
                            <div class="list-item">
                                <div class="list-label">신청일자</div>
                                <div class="list-content">2024-01-01</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">아이디</div>
                                <div class="list-content">꺄악</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">학과</div>
                                <div class="list-content">시각디자인학과</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">학년</div>
                                <div class="list-content">4학년</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">질문종류</div>
                                <div class="list-content">부전공</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">질문</div>
                                <div class="list-content">부전공부전공부전공부전공부전공부전공부전공부전공부전공부전공부전공부전공</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">신청플랜</div>
                                <div class="list-content">궁금해요 플랜</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">플랜금액</div>
                                <div class="list-content">4500원</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">희망날짜1</div>
                                <div class="list-content">2024-01-01 오후 2시 30분</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">희망날짜2</div>
                                <div class="list-content">2024-01-01 오후 2시 30분</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">약속장소</div>
                                <div class="list-content">북악관 로비</div>
                            </div>
                            <div class="list-item">
                                <div class="list-label">예약확정</div>
                                <div class="list-content">확정</div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <!-- E: 멘토링 신청 현황 -->
            <div class="btns-wrap">
                <a class="btn btn-line-orange" href="#">홈으로</a>
            </div>
        </div>
    </div>
    <!--E: step-ok-->
</body>

</html>