<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="icon" href="/images/favicon.ico">
    <script src="/js/lib/jquery-3.5.1.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <title>리뷰 작성 완료</title>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!--S: 리뷰작성완료 안내-->
    <div class="subpage-wrap review_write">
        <div class="container-fluid">
            <p class="page-title">멘토링 리뷰 작성</p>
            <!-- S: 중앙 텍스트-->
            <div class="page-center-txt">
                <p>
                    리뷰는 멘토에게 직접 전달드릴게요!<br>
                    소중한 시간을 내어<br>
                    리뷰를 작성해주셔서 감사합니다:&#41;
                </p>
            </div>
            <!-- E: 중앙 텍스트-->
            <!-- S: 버튼들-->
            <div class="btns-wrap">
                <a href="/mypage" class="btn btn-line-orange">마이페이지</a>
                <a href="/" class="btn btn-line-orange">홈으로</a>
            </div>
            <!-- E: 버튼들-->
        </div>
    </div>
    <!--E: 리뷰작성완료 안내-->
</body>

</html>