<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.min.css" type="text/css">
    <link rel="icon" href="/images/favicon.ico">
    <script src="/js/lib/jquery-3.5.1.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/log/PageLog.js"></script>
    <script src="/js/log/ButtonLog/ReviewWriteSlugBtn.js"></script>
    <title>리뷰 쓰기</title>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!--S: 리뷰작성-->
    <div class="subpage-wrap review-write">
        <div class="container-fluid">
            <p class="page-title">멘토링 리뷰 작성</p>
            <!-- S: 위의 숫자 정보들-->
            <div class="my-info-nums">
                <div class="verticals-list item-txt-left">
                    <div class="list-item">
                        <p class="info-label">신청일자</p>
                        <p class="info-value" th:text="${#dates.format(r.reservationDate, 'YY-MM-dd')}"></p>
                    </div>
                    <div class="list-item">
                        <p class="info-label">멘토</p>
                        <p class="info-value" th:text="${r.mento.nickname}"></p>
                    </div>
                    <div class="list-item">
                        <p class="info-label">질문종류</p>
                        <th:block th:switch="${r.askType}">
                            <p class="info-value" th:case="1">전과</p>
                            <p class="info-value" th:case="2">복수전공</p>
                            <p class="info-value" th:case="3">부전공</p>
                            <p class="info-value" th:case="4">그 외</p>
                            <p class="info-value" th:case="5">잘 모르겠음</p>
                        </th:block>
                    </div>
                    <div class="list-item">
                        <p class="info-label">플랜금액</p>
                        <p class="info-value" th:text="${r.plan.planPrice}+'원'"></p>
                    </div>
                </div>
            </div>
            <!-- E: 위의 숫자 정보들-->
            <!-- S: 쓰는 영역-->
            <div class="write-area pt-5">
                <form method="post" action="/mypage/reviewSuccess">
                    <div class="form-group">
                        <label for="reviewText">1. 준마이 멘토에게 리뷰 남기</label>
                        <textarea class="form-control" name="reviewContent" id="reviewText" placeholder="두서 없이 작성해도 되니, 부담없이 작성해주세요." rows="10" maxlength="100" th:text="${r.reviewContent}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="reviewText">2. 준마이 멘토가 제공한 멘토링에 얼마나 만족하셨나요?<br>(1: 매우 불만족 / 4: 보통 / 7: 매우 만족)</label>
                        <div class="custom-chk-btns">
                            <input type="hidden" name="reservationId" th:value="${r.reservationId}">
                            <th:block th:each="n:${#numbers.sequence(1,maxScore)}">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="reviewScore"
                                           th:id="'reviewScore'+${n}"
                                           th:value="${n}"
                                           th:checked="${r.reviewScore} == ${n}">
                                    <label class="form-check-label" th:for="'reviewScore'+${n}" th:text="${n}"></label>
                                </div>
                            </th:block>
                        </div>
                    </div>

                    <div class="btns-wrap">
                        <input type="submit" class="btn btn-primary" value="리뷰제출">
                    </div>
                </form>
            </div>
            <!-- E: 쓰는 영역-->
        </div>
    </div>
    <!--E: 리뷰작성-->
</body>

</html>